numpy
tables
pyyaml
netcdf4
matplotlib
pandas
h5py
imageio
# torch==2.1.1 torchvision==0.16.1 torchaudio==2.1.1 --index-url https://download.pytorch.org/whl/cu121
timm
# torch==2.1.1
# torchvision==0.16.1
# torchaudio==2.1.1
# pytorch-cuda==12.1
tensorboard